<template name="views_home">
    
    <div class="dapp-grid"></div>

    <h2 class="page-title"> Network Health </h2>
    

    <h2> Mining </h2>
    
    <div class="dapp container mining-stats">
        <div class="mining-slider dapp-big-number">
            <input type="range" name="fee" min="0" max="1" step="0.01" value="{{miningSlider}}" class="slider-vertical">
            <dd>Mining status</dd>
            <dt class="mining-status">Off</dt>
        </div>
        <div class="dapp-big-number">
            <dd>Time Spent</dd>
            <dt class="time-spent">{{{timeSpent}}}</dt>
        </div>        
        <div class="dapp-big-number">
            <dd>Rewards</dd>
            <dt>{{{totalRewards}}}</dt>
        </div>        
        <div class="dapp-big-number">
            <dd>avg Return</dd>
            <dt> {{{averageRewardPerHour}}}</dt>
        </div>        
    </div>

    
    <h2> Connections </h2>

    <div class="dapp-container">

        <dl class="latest-block-info">

            <div class="dapp-big-number">
                <dd>Peer Count</dd>
                <dt>{{peerCount}} <small> Peers </small></dt>
            </div>
            <div class="dapp-big-number">
                <dd>Gas Price</dd>
                <dt>{{gasPrice}} <small> Finney </small></dt>
            </div>
        </dl>

    </div>
    
    <h2> Block chain </h2>

    <div class="block-chain">
        <div class="wrapper">
            {{#each blocks}}
                <div class="dapp-box card" style="background-image:{{currentBlockPattern}}">
                    {{> dapp_identicon identity='miner'}}
                    <h1>Block {{number}}</h1>
                    <h3>{{hash}}</h3>
                    <dl>
                        <dd>Gas Used</dd>
                        <dt>{{gasUsed}}</dt>
                        <dd>Size</dd>
                        <dt>{{size}}</dt>
                        <dd>Number of uncles</dd>
                        <dt>{{uncles}}</dt>
                        <dd>Time</dd>
                        <dt>{{formatTime time 'YYYY-MM-DD HH:mm:ss'}}</dt>
                    </dl>
                </div>
            {{/each}}
            <div class="" style="">
                    <h3>End of loaded blocks.</h3>
            </div>
        </div>
    </div>
</template>