<template name="views_home">
    <div class="dapp-container">

        <img src="" alt="">

        <div class="row clear">
            <div class="col col-6">
                <h1>{{{i18n 'catalog.accounts.title'}}}</h1>
                <p>Lorem ipsum Nisi et ut culpa consequat pariatur consequat cillum et quis magna ea fugiat in do laborum.</p>

                <a class="dapp-box">
                    <h2>Whisper Chat</h2>
                    <p>Lorem ipsum Dolor tempor culpa amet.</p>
                </a>

                <a class="dapp-box">
                    <h2>Whisper Chat</h2>
                    <p>Lorem ipsum Dolor tempor culpa amet.</p>
                </a>

                <a class="dapp-box">
                    <h2>Whisper Chat</h2>
                    <p>Lorem ipsum Dolor tempor culpa amet.</p>
                </a>

                <a class="dapp-box">
                    <h2>Whisper Chat</h2>
                    <p>Lorem ipsum Dolor tempor culpa amet.</p>
                </a>
                
                
            </div>
            <div class="col col-6">
                <h1>{{{i18n 'catalog.accounts.title'}}}</h1>
                <p>Lorem ipsum Nisi et ut culpa consequat pariatur consequat cillum et quis magna ea fugiat in do laborum.</p>

                <a class="dapp-box">
                    <h2>Whisper Chat</h2>
                    <p>Lorem ipsum Dolor tempor culpa amet.</p>
                </a>

                <a class="dapp-box">
                    <h2>Whisper Chat</h2>
                    <p>Lorem ipsum Dolor tempor culpa amet.</p>
                </a>
            </div>
        </div>
    </div>
</template>