// libs
@import 'public/dapp-styles/dapp-styles.less';




/**********************************/
/* START FORMATTING YOUR APP HERE */
/**********************************/


// Change Default constants

@colorLink: #02A8F3;
@colorBackgroundHeader: #d9d0d0;


.block-chain {
    // background: @colorGrayLight;
    // width: 100%;
    margin: 0 -40px;
    height: @gridHeight * 17;
    padding: @gridHeight/2 @gridWidth/2;
    .dapp-overflow;
    // box-shadow: inset @colorGray 8px 2px 10px;
    // border: solid @colorGray 2px;
    // border-radius: 4px;
}
